/* LEFT CONTAINER */
.home-left-container {
	flex: 5;
}

.home-event{
	max-width: 100%;
	height: auto;
}

/* RIGHT CONTAINER */
.home-right-container {
	flex: 2;
}

.home-online-item {
	display: flex;
	align-items: center;
	margin: 0px;
	padding: 5px;
}

.home-online-item-text {
	margin: 0px;
}